body {
    background-color: powderblue;
}

.container{
	width: 600px;
	height: 300px;
	overflow: hidden;
	margin: auto;
	position:relative;
	left: 50% - 300px;
	top:50px;
}
#inside{
	position: relative;
}

#inside2{
	position: relative;
}

#scrollerSheet{
	height: 2000px;
	width: 2000px;
	position: relative;
}

#topImage{
	position: relative;
	height: 600px;
	width: 100%;
	background-image: url('../image/1.jpg');
	background-position: top center;
	background-size: auto 600px;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

#topLogo{
	position: absolute;
	height: 100px;
	width: 100%;
	background-image: url('../image/TextLogo.png');
	background-position: center;
	background-repeat: no-repeat;
	top: 50%;
	margin-top: -50px;
}